camping.drivebro.ru {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        -Server
    }

    reverse_proxy app:80 {
        health_uri /healthz
        health_interval 30s
        health_timeout 5s
    }

    log {
        output stdout
        format console
    }
}
